<a href="https://colab.research.google.com/github/srikavyapodishetti01/assignment/blob/main/assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#string method
#upper()
s="hello,how are you "
s2=s.upper()
print(s2)

#lower()
s="HELLO,HOW ARE YOU"
s2=s.lower()
print(s2)

#title()
s="hello,how are you"
s2=s.title()
print(s2)

#replace()
s="i like yellow colour"
s2=s.replace("yellow","white")
print(s2)

HELLO,HOW ARE YOU
hello,how are you
Hello,How Are You
i like white colour

In [2]:
#list methods
#append()
s=['pink', 'green',' red']
s.append("yellow")
print(s)

#reverse()
s=['pink', 'green',' red']
s.reverse()
print(s)

#insert
s=['pink', 'green',' red']
s.insert(2,"white")
print(s)

#pop()
s=['pink', 'green',' red']
s.pop(1)
print(s)

['pink', 'green', ' red', 'yellow']
[' red', 'green', 'pink']
['pink', 'green', 'white', ' red']
['pink', ' red']

In [3]:
#count()
tuple=(1,4,6,2,4,6,8,2)
x=tuple.count(6)
print(x)

#index()
tuple=(1,4,6,2,4,6,8,2)
x=tuple.index(2)
print(x)

2
3

In [4]:
#clear()
profile={"name":"hinata","place":"warangal","fav colour":"blue"}
profile.clear()
print(profile)

#update()
profile={"name":"hinata","place":"warangal","fav colour":"blue"}
profile.update({"BOD":"2003"})
print(profile)

#values()
profile={"name":"hinata","place":"warangal","fav colour":"blue"}
x=profile.values()
print(x)

{}
{'name': 'hinata', 'place': 'warangal', 'fav colour': 'blue', 'BOD': '2003'}
dict_values(['hinata', 'warangal', 'blue'])

In [5]:
#add()
x={"tomato","carrot","potato"}
x.add("onion")
print(x)

#intersection()
x={"tomato","carrot","potato"}
y={"mango","banana",'carrot'}
z=x.intersection(y)
print(z)

#remove()
x={"tomato","carrot","potato"}
x.remove("potato")
print(x)

{'carrot', 'onion', 'tomato', 'potato'}
{'carrot'}
{'carrot', 'tomato'}

In [6]:
#6th question
decimal=int(input("enter the value"))
print("the decimal value of ',decimal,' is:")
print(bin(decimal),"in binary")
print(oct(decimal),"in octal")
print(hex(decimal),"in hexadecimal")

enter the value344
the decimal value of ',decimal,' is:
0b101011000 in binary
0o530 in octal
0x158 in hexadecimal

In [7]:
#Arithmatic operators
#addition
val1=10
val2=35
x=val1+val2
print(x)

#subtraction
val1=35
val2=10
x=val1-val2
print(x)

#multiplication
val1=10
val2=3
x=val1*val2
print(x)

#division
val1=50
val2=10
x=val1/val2
print(x)

45
25
30
5.0

In [8]:
#assignment operators
#addition
a=20
b=50
a+=b
print(a)

#subtraction
a=50
b=20
a-=b
print(a)

#multiplication
a=20
b=5
a*=b
print(a)

#division
a=4
b=2
a/=b
print(a)

70
30
100
2.0

In [9]:
#comparison operators

#equals
x=4
y=9
print(x==y)

#not equals
x=4
y=6
print(x!=y)

#greater than
x=4
y=6
print(x>y)

#less than
x=4
y=6
print(x<y)

False
True
False
True

In [10]:
#logical operators
#and operator
x=7
print(x>4 and x<8)

#OR operator
x=5
print(x>1 or x<1)

#not operator
x=5
print(not(x>1 and x<9))

True
True
False

In [11]:
a=10
b=4
#AND operator
print("a&b=",a&b)
#OR operator
print("a|b=",a|b)
#XOR operator
print("a^b=",a^b)

a&b= 0
a|b= 14
a^b= 14

In [12]:
#IN operator
x=["mangoes","stawberry"]
print("tomato"in x)

#NOT IN operator
x=["mangoes","stawberry"]
print("tomato"not in x)

False
True

In [13]:
x=["mangoes","stawberry"]
y=["mangoes","stawberry"]
z=x
print(x is y)
print(x is z)
print(x==y)

False
True
True

In [14]:
s="welcome"
print(s[-1])
print(s[-2])

e
m

In [ ]:
p_phrase=["was it a cat or a cat i saw"]
p_phrase.reverse()
print(p_phrase)